# Игнорим файл .env
.env

# Игнорим все файлы логов в папке logs
logs/

# Игнорим бинарные файлы и файлы, сгенерированные go build (на будущее)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Игнорим папки и файлы, созданные go test
/tmp/
*.test

# Игнорим файл с зависимостями, созданный go mod
/go.sum

# Игнорим папку сборки (либо /bin либо /build)
/bin/
/build/

# Игнорим папку с временными файлами
/tmp/

# Игнорим файлы идешки
.idea/
.vscode/
